table {
    border-collapse: collapse;
    background: darkblue;
    color: skyblue;
}
th, td { 
    font-weight: bold;
}
h1 {
  background: white;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
}
body{
  background: lightseagreen;
}
td {
  font-family: 'Times New Roman', Times, serif;
}